@charset "utf-8";

header {
    box-shadow: 0px 0px 5px 0px hsla(0, 0%, 7%, 0.3);
}

.nav-link {
    color: white;
    background-color: rgba(255, 255, 255, 0.493);
}

.accordion-item {
    background-color: cadetblue;
}

.search-result {
    background-color: coral;
}

main {
    transition: 0.3s all ease;
}